<div class="header-wrapper">
  <mat-toolbar>
    <span>
      <img src="assets/spaceRocket_takeOff.jpg" height="35" width="40" />
    </span>
    <div class="navbar-brand">Navinism</div>
    <div class="small-menu" [matMenuTriggerFor]="menu">
      <mat-icon matTooltip="Menu">menu</mat-icon>
    </div>
    <mat-menu #menu="matMenu">
      <button mat-menu-item routerLink="/home">
        <mat-icon matTooltip="Home">home</mat-icon>
        <span class="menu-label">Home</span>
      </button>
      <button mat-menu-item routerLink="/neo">
        <mat-icon matTooltip="Near Earth Objects">neo</mat-icon>
        <span class="menu-label">Near Earth Objects</span>
      </button>
    </mat-menu>
  </mat-toolbar>
</div>



