
div.body-wrapper {
  height: calc(100vh - 150px);
  background-color: whitesmoke;
  display: flex;
  width: calc(100vw - 20px);
  margin: 0px 10px;
  overflow: auto;
}

td.mat-header-cell:first-of-type {
  padding-left: 24px;
}

.top-wrapper {
  position: relative;
  width: 100%;
  height: 70px;
  background-image: linear-gradient(-120deg, #191919 13%, #999999 59%, #FFFF00 100% );
  background-position: center center;
  background-size: cover;
  display: inline-block;
  z-index: 100;
  margin-top: 70px;
}

.top-wrapper div.title {
  /* width: 250px; */
  font-family: "Lucida Grande";
  font-size: 20px;
  color: #000000;
  font-weight: 500;
  text-decoration: none solid rgb(255, 255, 255);
  letter-spacing: 1px;
  display: inline-block;
  position: absolute;
  padding: 22px 24px;
}


div.header-toolbar-wrapper {
  position: relative;
  float: right;
  padding: 15px 17px;
  display: inline-flex;
}

div.header-toolbar-wrapper button.text {
  width: 118px;
  height: 40px;
  border: 1px solid #ffffff;
  border-radius: 5px;
  background-color: #ffffff;
  background-size: cover;
  font-family: "Lucida Grande";
  font-size: 13px;
  color: #2a4cb5;
  font-weight: 500;
  text-decoration: none solid rgb(42, 76, 181);
  text-align: center;
  margin: 0px 8px;
  display: inline-block;
  cursor: pointer;
}

div.header-toolbar-wrapper button.text:hover {
  filter: alpha(opacity=90);
  -moz-opacity: 0.9;
  -khtml-opacity: 0.9;
  opacity: 0.9;
}

div.header-toolbar-wrapper div.icon {
  width: 35px;
  height: 35px;
  border: 1px solid #ffffff;
  border-radius: 5px;
  background-size: cover;
  margin: 0px 8px;
  display: inline-block;
  cursor: pointer;
}

div.header-toolbar-wrapper div.icon:hover {
  background-color: rgba(255,255,255,0.2);
}

div.header-toolbar-wrapper div.icon.disabled {
  background-color: slategray;
  cursor: auto;
}

div.header-toolbar-wrapper div.icon.disabled:hover {
  background-color: slategray;
  cursor: auto;
}

div.header-toolbar-wrapper div.icon img {
  width: 23px;
  height: 23px;
  fill: #ffffff;
  margin: 6px;
}

div.header-toolbar-wrapper div.tool-new-entry img {
  fill: #ffffff;
  width: 30px;
  height: 30px;
  margin-left: 1px;
  margin-top: 2px;
}

div.header-toolbar-wrapper div.tool-refresh img {
  fill: #ffffff;
  width: 30px;
  height: 30px;
  margin-left: 1px;
  margin-top: 2px;
}

div.header-toolbar-wrapper div.divider {
  border-left: 1px solid white;
  width: 1px;
  height: 37px;
  margin: 0px 2px;
  filter: alpha(opacity=40);
  -moz-opacity: 0.4;
  -khtml-opacity: 0.4;
  opacity: 0.4;
}

div.row {
  width: 100% !important;
  margin: 0px auto !important;
  height: fit-content;
}

div.ar-wrapper {
  padding: 10px !important;
  margin: 0px auto !important;
}




/* OTHER SCREENS */
@media only screen and (max-width: 600px) {
  .body-wrapper {
    max-height: 650px;
  }

  .body-wrapper .main-panel-wrapper mat-button-toggle-group {
    position: relative !important;
  }
}


