<div class="home-wrapper">
  <div class="header-wrapper">
    <div class="title">Picture of the Day</div>

    <div class="header-toolbar-wrapper">

    </div>
  </div>
  <div class="spacer70"></div>

  <div class="body-wrapper">
    <article>
      <mat-card class="podWrapper">
        <mat-card-title-group>
          <mat-card-title class="podTitle">
            {{podTitle}}
          </mat-card-title>
          <mat-card-subtitle>
            {{podDate}}
          </mat-card-subtitle>
          <img mat-card-image class="imageOfTheDay" src="http://navinism.org/api/getPicOfTheDay" alt="podImg"  />
        </mat-card-title-group>

        <mat-card-content>
          <div class="podDesc">
            {{podDescription}}
          </div>
        </mat-card-content>

        <mat-card-footer>
          <div class="podCopyright">
            {{podCopyRight}}
          </div>
        </mat-card-footer>
      </mat-card>
    </article>

  </div>

</div>

