
<mat-card>
  <div class="sub-main-title-container">
    <mat-card-title class="sub-main-title">
      NEAR EARTH OBJECTS
    </mat-card-title>
  </div>

  <mat-card-content>
      <div>
        <div class="row top-row">
          <div class="table-wrapper">
              <table mat-table [dataSource]="dataSource" matSort>
                <ng-container *ngFor="let column of tableConfig" [matColumnDef]="column">
                  <th mat-header-cell mat-sort-header *matHeaderCellDef class="fixed200">{{column}}</th>
                  <td mat-cell *matCellDef="let element" class="row-data-element">
                    {{ element[column] }}
                  </td>
                </ng-container>
                <tr mat-header-row *matHeaderRowDef="displayColumns; sticky: true"></tr>
                <tr mat-row [@rowsAnimation] *matRowDef="let row; columns: displayColumns;"></tr>
              </table>
              <ng-container *ngIf="dataSource.data.length === 0">
                <div style="text-align: center; line-height: 150px; font-weight: bold">
                  No Data available for {{viewDateTitle}}
                </div>
              </ng-container>

          </div>
        </div>
      </div>
  </mat-card-content>
</mat-card>


<!--<div class="modal-progress" [hidden]="!isLoading">-->
<!--  <div class="bg-cover"></div>-->
<!--  <div class="gif-wrapper">-->
<!--    <img src="/assets/smallTele.gif" />-->
<!--  </div>-->
<!--  <div class="loading-desc">Please wait while we load the data...</div>-->
<!--</div>-->
