
mat-toolbar {
  background-color: #ffffff!important;
  color: #21298a!important;
  z-index: 1000;
  margin: 8px;
}

.sub-main-title {
  font-size: 20px;
}

.sub-main-header-container {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin: auto;
}

.mat-card-avatar {
  display: block;
  background-image: url('src/assets/smallTele.gif');
  background-size: 50px;
  border-radius: 20%;
  flex-shrink: 0;
  object-fit: cover;
}

.podTitle {

}

.podDate {
  display: block;
  font-size: 14px;
  font-weight: bolder;
}

.imageOfTheDay {
  margin: 2px;
  max-width: 100%;
}


.podDesc {
  margin: 2px;
}

.podCopyright {
  font-size: 14px;
  font-weight: bolder;
  padding: 8px;
  background-color: grey;
}

.mat-card-header {
  margin-bottom: 12px;
}

mat-card-subtitle {
  font-size: 10px;
  margin-bottom: 1px;
}

.pb-wrapper {
  height: 8px;
}

mat-progress-bar {
  margin-bottom: 10px;
  transform: scaleY(0.5) rotate(180deg);
}

mat-card-actions {
  font-size: 12px;
  text-align: right;
  margin: 2px;
}

mat-card-actions mat-slide-toggle {
  transform: scale(0.75);
}

tr.mat-header-row {
  height: auto !important;
}

img.hc-loading-bee {
  width: 200px;
  margin-top: -60px;
}

.example-spacer {
  flex: 1 1 auto;
}
